name: Deploy Next.js to GitHub Pages

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        working-directory: react-editor
        run: npm install

      - name: Build Next.js (static export)
        working-directory: react-editor
        run: npm run build

      - name: Upload static site
        uses: actions/upload-pages-artifact@v3
        with:
          path: react-editor/out

  deploy:
    needs: build
    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages

    runs-on: ubuntu-latest

    steps:
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4